body {
  max-height: 1080px;
  max-width: 719px;
  margin: 20px auto 0;
  padding: 0 20px 0 20px;
  background: 
  url('nasa.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

article {
  padding: 50px;
  height: auto;
  width: auto;
  text-align: center;
}

article strong {
  color: #ddd;
  font-size: 50px;
  font-family: sans-serif;
  text-shadow: 2px 2px 4px #999999;
}


article p.logo {
  position: absolute;
  top: -16px;
  right: 20px;
}

article p.logo img {
  margin-top: 20px;
  max-width: 70%;
  max-height: auto;
}


article p.description {
  padding-top: 70px;
  color: #ddd;
  font-size: 18px;
  font-family: sans-serif;
  text-align: justify;
}

article p.lights {
  padding-top: 70px;
  color: #ddd;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
}

article p.lights-people {
  color: #ddd;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
}

article span {
  font-family: sans-serif;
  font-size: 30px;
  color: #feaf32;
}


.switch-box {
  background-color: rgb(230, 230, 230, 0.8);
  display: flex;
  height: 150px;
  width: 100px;
  border-radius: 20px;
  margin: inherit;
}

.onoffswitch {
  margin: auto;
  position: relative; width: 89px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 14px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 21px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 12px;
  background-color: #F9DBA5; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 12px;
  background-color: #575353; color: #E6E6E6;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 18px; margin: 6px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 55px;
  border: 2px solid #999999; border-radius: 14px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}
